.title-containter {
  border: 0;
    border-bottom-width: 5pt;
    text-align: center;
    border-style: groove;
    margin: 10pt;
}

.content-buffer {
  min-height: 100pt;
}

.title {
  font-size: 24pt;
}

.sub-title {
  font-size: 18pt;
}

.large-text-body {
  margin: 20pt;
  border-style: groove;
  padding: 20pt;
  border-radius: 20pt;
}

.tech-desc {
  margin: 0pt 30pt;
  border-style: groove;
  border-radius: 10pt;
  padding: 10pt;
}

.center {
  text-align: center;
  justify-content: center;
}

.upper-right {
  float: right;
  text-align: right;
}

.left {
  text-align: left;
}

.upper-left {
  float: left;
  text-align: left;
}

.list-item {
  background-color: #f7993f;
  border-radius: 20px;
  margin: 10px 0;
}

.inner-list-container {
  min-width: 40%;
  max-width: 40%;
  display: inline-block;
}

.list-header {
  display: block;
}

.tech-container {
  width: 20%;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.techs {
  background-color: #dddede;
  border-radius: 10px;
  padding: 5pt;
  width: fit-content;
  margin: 5pt;
  cursor: pointer;
  display: inline-grid;
}

.expand {
  background-color: #dddede;
  border-radius: 10px;
  padding: 5pt;
  width: fit-content;
  margin: 5pt;
  cursor: pointer;
  display: inline-grid;
}


.indent {
  padding-left: 10pt;
}

#chaos-to-order {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

#body {
  padding: 20pt;
}

.side-bar {
  display: inline-block;
}

.slight-padding {
  padding: 4pt;
}

.button {
  padding: 0 10pt;
  margin: 0 10pt;
  background-color: black;
  display: inline-block;
  border-radius: 5pt;
  color: silver;
  border-color: silver;
  border-style: ridge;
}

.close-btn {
  padding: 0 5pt;
  font-weight: bold;
  border-radius: 20pt;
}

.side-by-side {
  display: inline-flex;
}

.button:active {
  color: #8e7c7c;
  border-color: #8e7c7c;
}

.nav-link {
    color: rgba(0,0,0,.5);
}
