<div>
  <div class='title-containter'>
   <div class='title' id='chaos-to-order'>
     Chaos
   </div>
  </div>
  <b class='sub-title'>Introduction</b>
  <div class='indent'>
    <p>
      As you may have guessed the theme of this website is bringing chaos
      to order. I dont know of any aspect of reality that cannot be discribed
      as such, when viewed from the right angle. After watching a lot of the
      content created by
      <a target='_blank'
        href='https://jordanbpeterson.com/'>
        Jordan peterson
      </a>
      and lisening to the audio book
      <a target='_blank'
        href='https://www.audible.com/pd/Business/Game-Changer-Audiobook/B00HX32I8E'>
        Game Theory
      </a>.
      I have come to realize that strattling the line between chaos and
      order is fundamentally, what life is all about.
    </p>

    <div>
      <b>Disclaimer:</b>
      Do to an article I read a few months back I am skeptical of Jordan
      Petersons motivations and goals. Until I see a response to the paper he
      co-authored for the un I will not be consuming anymore of his content.
      Here is an article if you are currious
      <a target='_blank'
        href='https://redice.tv/news/jordan-peterson-a-un-globalist-edited-a-report-for-the-high-level-panel-on-sustainable-development'>
        Jordan Peterson a UN Globalist
      </a>
      </head>
  </div>

  <b class='sub-title'>Taming the Chaos</b>
  <div class='indent'>
    <p>
      I think everyone enjoys bringing chaos to order wheather your organizing,
      fixing, or cleaning. It feels good to take somthing from a undesirable state
      to a desirable one. For me its almost like a junkie chasing a high.
    </p>
    <p>
      <b>Cleaning</b>
      <br>
      When I was very young I enjoyed cleaning. As I got better at cleaning the
      mess would have to get worse or the size of the job had to get bigger. I
      remember several occasions when I would stay up all night and clean the
      entire downstars. If I cleaned while everyone was awake sombody might help
      and that wouldn't feel as good as doing everything myself.
    </p>
    <p>
      <b>Math</b>
      <br>
      Math was another passion when I was younger, although do to poor school
      systems the teachers did not accelrate my learning at a rate which would
      have maintained my interest and curriosity. I returned to math at the age
      of 22 when I went to college.
      <a href=''>
        see more in other interests
      </a>
    </p>
    <p>
      <b>Wood Working</b>
      <br>
      Wood working will always be a passion of mine. Although I enjoy the process
      of design far more than the process of building. Hopefully later in life
      I will be able to combine my programming knowledge with machines and
      automate many of the tedious aspects. (probaby just buying a cnc machine
      will suffice).
      <a href=''>
        see more in other interests
      </a>
    </p>
    <p>
      <b>Programming</b>
      <br>
      Programming is the ideal activity for me to fully enjoy my love of design
      and perfection. If we ignore hardware failure, a program will do exactly
      what you program it to do. Its either right or wrong, I find that kind
      of certainty soothing. Even hardware failure can be predicted and planned
      for, making an application as nearly as concrete as mathematical logic.
      Almost completely eliminating chaos from the equation (exp: solarflares,
      WWIII).
      <a href=''>
        see more in other interests
      </a>
    </p>
  </div>
<div>
